.searchbar{
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    margin-top: 30px;
}

#textsearch{
    background-color: transparent;
    width: 70vw;
    border: 1px solid black;
    height: 5vh;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'epilogueregular', serif;
    font-size: calc(var(--body-copy)/1.5);
}

#searchbutton{
    background-color: transparent;
    width: 10vw;
    height: 6vh;
    border: none;
    margin-left: 10px;
}