body{
    width: 80vw;
    margin: auto;
    padding: auto;
}

.searchbar{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchtext{
    background-color: transparent;
    width: 70vw;
    border: 0.5px solid black;
    height: 5vh;
    border-radius: 5px;
    padding-left: 10px;
    font-size: calc(var(--body-copy)/1.3);
}

#searchbutton{
    background-color: transparent;
    border: none;
    margin-left: 15px;
}

#filtereddrinks{
    margin-bottom: 150px;
}

.alcohol img {
width: 80vw;
mix-blend-mode: multiply;
margin-top: 30px;
border-radius: 5px;
}

.alcohol p{
margin-top: 10px;
}