body{
    margin: auto;
    padding: auto;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: auto;
    width: 100vw;
    height: 10vh;
    margin-bottom: 50px;
}

.refresh{
    display: flex;
    display: flex;
    border-radius: 100%;
    background-color: black;
    border: 1px solid black;
}

.material-icons.md-48 { 
    font-size: 48px;
    color: white; 
    padding: 15px;
}