:root
{
    --body-copy:17px;
    --body-copy-line-height: calc(var(--body-copy)*1.5);

    --main-heading: 18vw;
    --main-heading-line-height: calc(var(--main-heading)*0.9);

    --nav-tab: 5vw;

    --desktop-heading: 6vw;
    --desktop-heading-line-height: calc(var(--desktop-heading)*0.85);
}

/*FONT*/
@font-face 
{
    font-family: 'scalterserif__condensed';
    src: url('../assets/fonts/scalter-serifcondensed-webfont.woff2') format('woff2'),
         url('../assets/fonts/scalter-serifcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Josefin Sans';
    src: url('../assets/fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/JosefinSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


body
{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

/*FLEXBOX*/
.desktop
{
    display: flex;
    flex-direction: column;
}

/*CONTENT WIDTH*/
#content-section
{
    width: 80%;
    margin: auto;
    padding: auto;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin-bottom: 150px;
}

/*MOBILE TOP NAV*/

.spirit 
{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    display: inline-block;
    z-index: 9999;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10vw;
    font-weight: 600;
    text-transform: uppercase;
  }

.liquid
{
    margin-right: 10vw;
}

/*DESKTOP BOTTOM NAV*/
.desktop
{
    display: none;
}

/*IMAGE*/
#image-section
{
    mix-blend-mode: difference;
}

.textcolor 
{
    color: white;
  }

  .ikon path
  {
    fill: white;
  }


/*TITLE*/
h1 
{
    font-family: 'scalterserif__condensed';
    font-size: var(--main-heading);
    font-weight: normal;
    line-height: var(--main-heading-line-height);
    overflow-wrap: break-word;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

/*INGREDIENTS & RECIPE*/
h2 
{
    font-size: var(--body-copy);
    line-height: calc(var(--body-copy-line-height)*0.8);
    text-transform: uppercase;
    border-top: 2px dashed black;
    padding-top: 30px;
    margin-bottom: 5px;
    font-weight: 600;
}

h4 
{
    font-size: var(--body-copy);
    margin-top: 40px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

p
{
    overflow-wrap: break-word;
}

/*SWAP + BUTTON*/
.swap
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layout
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*REFRESH BUTTON*/
#refresh-button
{
    display: block;
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    z-index: 999;
    background-color: black;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.icon
{
    display: flex;
    justify-content: center;
    animation: tilt 1.3s infinite;
}

@keyframes tilt 
{
    0% { transform: translateX(0) }
    25% { transform: translateY(0) }
    35% { transform: rotate(17deg) }
    55% { transform: rotate(-17deg) }
    65% { transform: rotate(17deg) }
    75% { transform: rotate(-17deg) }
    100% { transform: rotate(0) }
}


/*MEDIA QUERY FOR DESKTOP*/
@media screen and (min-width: 500px ) 
{

    body
    {
        margin: 0;
        overflow: hidden;
    }
    
    .swap
    {
        flex-direction: row;
    }

    #image-section
    {
        display: flex;
        width: 55%;
    }

    img
    {
        display: block;
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }

    #image-section:hover
    {
        mix-blend-mode: normal;
    }

    #content-section
    {
        display: block;
        width: 45%;
        justify-content: center;
        margin-top: 70px;
        margin-right: 7.7vw;
        padding-left: 10vw;
    }

    h1
    {
        font-size: var(--desktop-heading);
        line-height: var(--desktop-heading-line-height);
    }

    h2, h4
    {
            font-size: calc(var(--body-copy)*1.2);
            line-height: calc(var(--body-copy-line-height)*1.1);
            font-weight: 600;
    }

    h3, p
    {
            font-size: calc(var(--body-copy)*1.1);
            line-height: calc(var(--body-copy-line-height)/1.1);
            font-weight: 500;
    }

    svg
    {
        height: 85px;
    }

    #refresh-button
    {
        width: 6rem;
        height: 6rem;
        margin-bottom: 50vh;
    }

    .spirit
    {
        display: none;
    }

    .icon:hover
    {
        animation: none;
    }

    .desktop
    {
        display: flex;
        flex-direction: row;
        position: fixed;
        justify-content: space-evenly;
        bottom: 0;
        width: 45vw;
        margin-left: 55vw;
    }

    .liquid
    {
        padding-top: 3vh;
        padding-bottom: 3vh;
        font-size: calc(var(--nav-tab)/3.5);
        line-height: calc(var(--nav-tab)/2.5);
        text-transform: uppercase;
        font-weight: 600;
    }

}

