:root{
    --body-copy:17px;
    --body-copy-line-height: calc(var(--body-copy)*1.2);

    --main-heading: 20vw;
    --main-heading-line-height: calc(var(--main-heading)*0.9);

    --nav-tab: 7vw;
}

/*FONT*/
@font-face {
    font-family: 'tabularbold';
    src: url('../assets/fonts/tabular-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/tabular-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tabularregular';
    src: url('../assets/fonts/tabular-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/tabular-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Array-Regular';
    src: url('../assets/fonts/Array-Regular.woff2') format('woff2'),
         url('../assets/fonts/Array-Regular.woff') format('woff');
         font-weight: 400;
         font-style: normal;
  }

@font-face {
    font-family: 'Array-Bold';
    src: url('../assets/fonts/Array-Bold.woff2') format('woff2'),
         url('../assets/fonts/Array-Bold.woff') format('woff');
         font-weight: 700;
         font-style: normal;
  }



body{
    margin: 0;
    width: 100%;
    font-family: 'tabularregular', serif;
}

/*IMAGE*/
img{
    mix-blend-mode: exclusion;
}
/*TITLE*/
h2{
    font-family: 'Array-Regular', sans-serif;
    font-size: var(--main-heading);
    line-height: var(--main-heading-line-height);
    width: 90%;
    margin: auto;
    padding: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
    padding-bottom: 20px;
    border-bottom: 2px black dashed;
}

/*INGREDIENTS & RECIPE*/
h3{
    font-size: var(--body-copy);
    font-family: 'tabularbold', sans-serif;
    width: 90%;
    margin: auto;
    padding: auto;
    margin-bottom: 10px;
}

h5{
    font-size: var(--body-copy);
    font-family: 'tabularbold', sans-serif;
    width: 90%;
    margin: auto;
    padding: auto;
    margin-top: 40px;
    margin-bottom: 200px;
    overflow-wrap: break-word;
}


/*SWAP + BUTTON*/
.swap{
    display: flex;
    flex-direction: row;
}

/*REFRESH BUTTON*/
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: auto;
    width: 100vw;
    height: 10vh;
    margin-bottom: 50px;
}

.refresh{
    display: flex;
    display: flex;
    border-radius: 100%;
    background-color: black;
    border: 1px solid black;
}

.material-icons.md-48 { 
    font-size: 48px;
    color: white; 
    padding: 15px;
}

/*BOTTOM NAVIGATION*/
.navigation{
    margin: 0;
        padding: 0;
        display: flex;
        position: fixed;
        background-color: pink;
        font-size: var(--nav-tab);
        font-family: 'tabularbold', serif;
        bottom: 0;
        justify-content: space-evenly;
        z-index: 9999;
        left: 0;
        right: 0;
}

.spirit{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 50%;
    height: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}