@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,700&display=swap');

:root{
    --body-copy:20px;
    --body-copy-line-height: calc(var(--body-copy)*1.5);

    --main-heading: 16vw;
    --main-heading-line-height: calc(var(--main-heading)*0.8);

    --nav-tab: 8vw;
}

/*FONT*/
@font-face {
    font-family: 'cremonaregular';
    src: url('../assets/fonts/cremona_regular_ttf-webfont.woff2') format('woff2'),
         url('../assets/fonts/cremona_regular_ttf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 0;
    font-family: 'cremonaregular', serif;
    overflow-x: hidden;
}

/*FLEXBOX*/
.desktop{
    display: flex;
    flex-direction: column;
}


/*IMAGE*/
img{
    mix-blend-mode: difference;
}


/*TITLE*/
h1 {
    font-family: 'cremonaregular', sans-serif;
    font-size: var(--main-heading);
    line-height: var(--main-heading-line-height);
    margin-top: 20px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
    display: table-caption;
    padding-bottom: 20px;
}

/*INGREDIENTS & RECIPE*/
h2 {
    font-family: 'Lora', sans-serif;
    font-weight: bold;
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
    margin-bottom: 5px;
}

h4 {
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
    font-family: 'Lora', sans-serif;
    margin-top: 40px;
    margin-bottom: 200px;
    overflow-wrap: break-word;
}

h3 {
    font-family: 'Lora', sans-serif;
}

/*SWAP + BUTTON*/
.swap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*REFRESH BUTTON*/
.button{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 23vw;
    z-index: 100;
    margin-bottom: 30px;
}

.refresh{
    display: flex;
    border-radius: 100%;
    background-color: black;
}


/*BOTTOM NAVIGATION*/
.navigation{
    margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        position: fixed;
        font-size: var(--nav-tab);
        font-family: 'cremonaregular', serif;
        bottom: 0;
        justify-content: space-around;
        z-index: 99;
        left: 0;
        right: 0;
}

.spirit{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 50%;
    height: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*MEDIA QUERY FOR DESKTOP*/
@media screen and (min-width: 500px ) {
    :root{
        --main-heading: 5vw;
        --main-heading-line-height: calc(var(--main-heading)*0.8);
    }

    body{
        margin: 0;
        overflow: hidden;
    }
    
    .desktop{
        flex-direction: row;
        width: 90%;
    }

    #image-section{
        display: flex;
        width: 60%;
    }

    img{
        display: block;
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }

    #content-section{
        display: block;
        width: 40%;
        justify-content: center;
        padding-left: 100px;
        margin-top: 70px;
    }

    h1{
        font-size: var(--main-heading);
    }
    
}
